.header{
    position:relative;
    display: flex;
    /* float: left; */
    width: calc(100% - 221px);
    height: 60px;
    border-bottom:1px solid #e5e5e5 ;
    background-color: #FFFFFF;
}

    .header .restaurant{
        position: absolute;
        float: left;
        display: flex;
        align-items: center;
        width: 500px;
        height: 100%;
    }

        .header .restaurant .restaurant-name{
            margin-left: 48px;
            margin-right: 20px;
        }

        .header .restaurant .arrow {
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            border-radius: 20%;
            margin-bottom: 3px;
        }

        .header .restaurant .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

    .header .user{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-end;
        right: 16px;
        width: 200px;
        height: 100%;
    }

        .header .user .avatar-default{
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../../content/img/avatar-default.png);
        }

        .header .user .user-name{
            margin-left: 16px;
            margin-right: 16px;
            align-self: center;
            text-align: center;
        }

        .header .user .option-icon{
            width: 20px;
            height: 20px;
            /* right: 16px; */
            background-repeat: no-repeat;
            background-image: url(../../content/icon/option.png);
            cursor: pointer;
        }
