.icon-option-deafault{
    width: 16px;
    height: 16px;
    background-image: url(../../content/icon/option.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-add{
    width: 16px;
    height: 16px;
    background-image: url(../../content/icon/add.png);
    background-repeat: no-repeat;
}

.icon-search{
    background-image: url(../../content/icon/search.png);
    background-repeat: no-repeat;
    background-position: 16px center;
}
