/* select{
    padding-left: 16px;
    padding-right: 12px;
    font-family: GoogleSans-Regular;
    font-size: 13px;
}   */

/* The container must be positioned relative: */
.custom-select {
    margin-left: 16px;
    position: relative;
    font-family: GoogleSans-Regular;
    
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: #ffffff;
    display: flex;
    padding-left:16px;
    align-items: center;
    border-color: #019160;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000000 transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #000000 transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-selected {
    color: #000000;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    cursor: pointer;
    height: 38px;
    /* height: 100%; */
  }

  .select-items div{
    /* color: #000000; */
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    overflow: scroll;
    max-height: 200px;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
   .same-as-selected {
    background-color: #019160;
    color: #ffffff;
  }

  .select-items div:hover{
      background-color: #e9ebee;
      color: #000000;
  }