.filter-bar{
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: #bbbbbb; */
    height: 40px;
    
}

    .filter-bar .filter-left{
        position: absolute;
        left: 16px;
    }

    .filter-bar .filter-right{
        position: absolute;
        right: 16px;
    }

/* table{
    border: none;
    table-layout: fixed;
    min-width: 20px;
    height: 20px;
    width: 100%;
}

table tr th, td{
    border-bottom-width: 1px !important;
    border-bottom-style: solid;
    border-block-color: #ccc;
    text-align: left;
    padding: 10px;
}

    th{
        position: sticky;
        top: 0;
    } */